.vscode
services\movie_details\__pycache*
services\predictions\__pycache*
services\ratings\__pycache*
services/movie_details/__pycache*
services/movie_details/__pycache__/movies.cpython-36.pyc
services/ratings/__pycache__*
services/predictions/__pycache__*
docker_commands.txt
services/__pycache__*
services/movies/__pycache__*
